body {
    background-color: rgb(198, 197, 197);
}



button {
    padding: 10px;
    font-size: 50px;
    margin: 5px;
    height: 100px;
    width: 100px;
    background-color: rgb(123, 123, 128);
    color: white;
    border-radius: 25px;

}

.base {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    height: 850px;
    width: 520px;
    background-color: rgb(59, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-top: 50px;
}

.displayContainer {
    background-color: rgb(123, 123, 128);
    height: 200px;
    width: 426px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:20px;
    border-radius: 25px;


}

.display {
    font-size: 90px;
    color: rgb(154, 250, 154);
}

.memory {
    font-size: 40px;
    color: rgb(154, 250, 154);

}

.zero {
    height: 100px;
    width: 210px;
}

.top {
    font-size: 35px;
}

.row1Container {
    display: flex;
}

.row2Container {
    display: flex;
}

.row3Container {
    display: flex;
}

.row4Container {
    display: flex;
}

.row5Container {
    display: flex;
}

